@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgb(2 6 23);
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #265dd200;
}

::-webkit-scrollbar-thumb:hover {
  background: #1e4ea100;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #265dd200 transparent;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.snap-y::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.snap-y {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}